*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(255, 228, 196);

    scroll-behavior: smooth;
    scrollbar-color: rgb(255, 228, 196) transparent;

    transition: all 180ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.theScreen{
    width: 100vw;
    height: 100vh;

    background-color: rgb(116, 110, 90);
    padding: 15px;

    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 11fr;
    grid-template-areas:
        "header header"
        "timetable sidebar";
    gap: 15px;
}

.theScreen div{
    background-color: rgb(34, 32, 30);
    padding: 12px;
    border-radius: 7px;
}

.theScreen div.header{
    grid-area: header;
    align-content: center;
}

div.header div.nav{
    display: flex;
    background-color: rgb(83, 79, 63);
    justify-content: space-between;
}

div.nav div.navFlex{
    display: flex;
    justify-content: left;
    align-content: center;
}

.theScreen div.timetable{
    grid-area: timetable;
    overflow: auto;
}

.theScreen div.sidebar{
    grid-area: sidebar;
    overflow: auto;
    font-size: 22px;

}

input, select, ::picker(select), textarea, button{
    border-color: rgb(151, 131, 107);
    border-width: 3px;
    border-radius: 3px;
    border-style: solid;
    font-size: 20px;
    margin: 7px;
    padding: 4px;
}

input, textarea, button{
    background-color: transparent;
}

textarea{
    field-sizing: content;
    min-block-size: 3.5rlh;
    min-inline-size: 20ch;
    max-inline-size: 40ch;
}

select, ::picker(select){
    background-color: rgb(34, 32, 30);
}

input:focus, select:focus, textarea:focus{
    background-color: rgb(51, 46, 41);
    border-color: beige;
}

#submit{
    border-color: bisque;
    border-width: 4px;
    font-weight: 700;
    margin-top: 35px;
}

#submit:hover, button:hover{
    font-size: 27px;
    background-color: rgb(87, 75, 60);
}